body {
    background-color: bisque;
}

header div h1 {
    color: black;
    text-align: center;
    font-size: 7vw;
    font-weight: bolder;
}

#chosenRest {
    color: black;
    font-size: 5vw;
    font-weight: bold;
}
